body {
    font-family: Quicksand, sans-serif;
    background-image: url('../src/background.jpg');
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
}

#bookDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.book-info {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
}

#coverImage {
    width: 40%;
    max-width: 350px;
    height: auto;
}

.text-info {
    width: 60%;
    padding-left: 20px;
}

#title, #author, #genre {
    margin: 0;
}

#title {
    font-size: 28px;
    color: #333;
}

#author {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
}

#genre {
    font-size: 18px;
    margin-top: 10px;
}

#description {
    text-align: justify;
    line-height: 1.6;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#downloadLink {
    display: inline-block;
    background-color: #9999FF;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#downloadLink:hover {
    background-color:  #9966FF;
}

#readPdf {
    display: inline-block;
    background-color: #9999FF;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#readPdf:hover {
    background-color:  #9966FF;
}



#addToFavorites {
    position: relative; 
    width: 50px; 
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden; 
}

#addToFavorites img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

#addToFavorites .default-icon {
    opacity: 1;
}

#addToFavorites .hover-icon {
    opacity: 0;
}

#addToFavorites:hover .default-icon {
    opacity: 0;
    transform: scale(0.95);
}

#addToFavorites:hover .hover-icon {
    opacity: 1;
    transform: scale(1.05);
}
