body {
    font-family: 'Quicksand', sans-serif;
    background: url(../src/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    --color-option: #9999FF;
    --color-option-dark: #9966FF;
}

.main-container {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

h1 {
    color: #5D3F6A;
    text-align: center;
}

.book-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-container h3 {
    margin-top: 0;
    color: #333;
}

.book-container h4 {
    margin-top: 0;
    color: #666;
}

.book-container p {
    margin: 10px 0;
}

.book-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.book {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.book h3 {
    margin-top: 0;
    color: #333;
}

.book h4 {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--color-option);
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px;
}

button:hover {
    background-color: var(--color-option-dark);
}

#searchInput {
    width: 20%;
    padding: 10px 20px;
    margin-left: 460px;
}



@media (max-width: 768px) {
    .book {
        flex-direction: column;
        align-items: flex-start;
    }

    .book img {
        margin-bottom: 20px;
    }
}

.popup-message {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-option);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: var(--color-option-dark);
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-icon {
    width: 30px;
    height: 30px;
}

.back-button:hover .back-icon {
    opacity: 0.7;
}