
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./src/background.jpg);
}


.upload-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}


#fileDragArea {
    border: 2px dashed #007BFF;
    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
}

#fileDragArea:hover {
    background-color: #f8f9fa;
}

.drag-over {
    border-color:#0376e9; /* Change as needed */
    background-color: #b6aeae; /* Light grey background to indicate active drag area */
}


input[type="file"] {
    
    width: 100%;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}


.popup-container {
    position: fixed; 
    top: 10px;
    left: 50%; 
    transform: translateX(-50%); 
    width: auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: white; 
    z-index: 1000; 
    display: none; 
    align-items: center;
    justify-content: center;
}

.popup-content {
    margin: 0 auto; 
    text-align: center; 
}

.close-button {
    cursor: pointer;
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px; 
}

.close-button:hover {
    background-color: darkred;
}
