/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./src/background.jpg);
}

/* Upload Container Styles */
.upload-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

/* Drag Area Styles */
#fileDragArea {
    border: 2px dashed #007BFF;
    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
}

#fileDragArea:hover {
    background-color: #f8f9fa;
}

.drag-over {
    border-color:#0376e9; /* Change as needed */
    background-color: #b6aeae; /* Light grey background to indicate active drag area */
}

/* File Input and Button Styles */
input[type="file"] {
    
    width: 100%;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Popup Styles */
.popup-container {
    position: fixed; /* Fixed positioning to place the div relative to the viewport */
    top: 10px; /* Change this to more or less depending on your preference */
    left: 50%; /* Center align the popup */
    transform: translateX(-50%); /* Shift left by 50% of its own width to truly center it */
    width: auto; /* Adjust width as necessary */
    padding: 20px; /* Padding for aesthetics */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
    background-color: white; /* Background color of the popup */
    z-index: 1000; /* Makes sure the popup is on top of other content */
    display: none; /* Keeps the popup hidden until it's needed */
    align-items: center;
    justify-content: center;
}

.popup-content {
    margin: 0 auto; /* Centers the content inside the popup */
    text-align: center; /* Centers the text inside the popup */
}

.close-button {
    cursor: pointer;
    background-color: #f44336; /* Red color for the close button */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px; /* Space between message and button */
}

.close-button:hover {
    background-color: darkred;
}
