body {
    font-family: Quicksand, sans-serif;
    background: url('./src/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --color-option: #9999FF;
    --color-option-dark: #9966FF;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    border: 1px solid rgba(204, 204, 204, 0.6); /* Bordură transparentă */
    background-color: rgba(255, 255, 255, 0.9); /* Fundal aproape transparent */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}

.profile-section {
    flex: 0 0 250px;
    padding: 20px;
    border-right: 1px solid rgba(204, 204, 204, 0.6);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    width: 100%;
    text-align: center;
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info p, .profile-info textarea {
    margin: 10px 0;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-option);
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--color-option-dark);
}

.content-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adăugat pentru a împinge conținutul spre marginea de jos */
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.tab-link {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #007BFF;
}

.tab-link.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    width: 100%;
}

.tab-content.active {
    display: block;
}

.slider-container {
    overflow-y: auto;
    max-height: 400px;
    flex-grow: 1; /* Permite containerului să crească pentru a ocupa spațiul rămas */
}

.slider-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.favorite-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(204, 204, 204, 0.6);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 10px;
    width: 150px;
}

.favorite-book img {
    width: 100%;
    display: block;
}

.favorite-book p {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.favorite-book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
