<!DOCTYPE html>
<html>
<head>
    <title><%= book.title %></title>
    <!-- Include alte tag-uri meta și link-uri aici -->
</head>
<body>
    <h1><%= book.title %></h1>
    <img src="<%= book.coverImage %>" alt="Coperta">
    <p><%= book.description %></p>
    <!-- Include și alte detalii despre carte aici -->
</body>
</html>
