

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    padding-top: 60px; /* Oferă spațiu pentru bara de navigație fixată */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-option: #9999FF;
    --color-option-dark: #9966FF;

    background: url(background.jpg);
}

/* Stilurile pentru bara de navigație */
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px --color-option-dark;
    flex-wrap: nowrap;
    background: #fff;
    left: 0;
    z-index: 100;
}

.nav-bar .logo {
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

.nav-bar .menu {
    display: flex;
    list-style: none;
    justify-content: center; 
    align-items: center; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: left;
}

.nav-bar li {
    margin: 0 10px; 
}


.nav-bar a {
    text-decoration: none; 
    color: #333; 
    padding: 10px; 
    display: block; 
}

.nav-bar a:hover {
    color: var(--color-option-dark);
}

.prop-user{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding-right: 20px; 
}

/* Stiluri pentru iconița și meniul de utilizator */
.user-icon {
    position: relative;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden;
    cursor: pointer; 
    border: 2px solid white; 
    margin-left: auto; /* Acest lucru împinge iconița spre dreapta */
    margin-right: 10px; 
  
}

#userPhoto{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-dropdown-content::before{
    content: '';
    position: absolute;
    top: 5px;;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

#username {
    font-size: 16px;
    font-weight: bold;
    color: #6546d6; 
    margin-left: 10px;
}

.user-dropdown-content {
    display:none;
    position: absolute;
    right: 10%; 
    top: 70px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 15px;
    transition: 0.5s;
    flex-direction: column;
}

.user-dropdown-content li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}
.user-dropdown-content li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.user-dropdown-content li:hover img{
    opacity: 1;
}


.user-dropdown-content a {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.user-dropdown-content a:hover {
    color: #d59ef5;
}

#adminPanel {
    display: none; /* Ascuns implicit */
}

#adminPanel.visible {
    display: flex; 
}

#userDropdown.visible{
    

    display: flex; 

}

.show {
    display: block;
}


/* Stilurile pentru containerul principal */
.container {
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    background: white;
}

/* Stiluri generale pentru butoane */
.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #009579; /* Exemplu de culoare pentru butoane */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #007f67; /* Exemplu de culoare la hover */
}

/* Stiluri pentru titluri și text */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: #333;
}

p {
    margin-bottom: 15px;
}

/* Stiluri pentru bara de căutare */
.search-input {
    padding: 10px;
    margin-left: 40px; /* Spațiere între elementele din meniu și bara de căutare */
    border: none;
    border-radius: 5px;
    max-width: 200px;
}

.search-btn {
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 0px;
    background-color: var(--color-option); /* Exemplu de culoare pentru butonul de căutare */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Stiluri pentru caruselul cu cărți */
.book-carousel {
    margin-top: 20px;
    /* Aici poti adauga stiluri pentru carusel */
}

/* Stiluri pentru categoriile de cărți */
.book-categories {
    margin-top: 40px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.category-item {
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: #333;
}

.category-item:hover {
    background-color: #ccc;
}

/* Stiluri pentru noile apariții */
.new-arrivals {
    margin-top: 40px;
}

.arrivals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* Aici poti adauga stiluri pentru cărți individuale */
}

/*autentificare*/
.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-option);
    text-decoration: none;
    cursor: pointer;

}



/* Stiluri pentru footer */
footer{
    width: 100%;
    background: #baa7ee;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color: #089da1;
    margin-left: 10px;
}

/* Media queries pentru responsivitate */
@media (max-width: 600px) {
    .book-cover {
        width: 100px; /* Mai mică pe dispozitive mobile */
    }
    .book {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the content horizontally */
        width: 120px; /* Adjust the width as needed */
        margin: 10px; /* Provides some spacing around each book */
    }

    .nav-bar .menu {
        flex-direction: column;
    }

}

.book-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
    .category-container {
        margin: 20px 0;
        padding: 10px;
        background-color: #f0f0f0; /* Light grey background for each category */
        text-align: center;
    }
    
    .book-display {
        margin: 20px auto;
        width: 100%; /* Adjust based on your design preference */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .book-cover {
        width: 100%;
        max-width: 300px; /* Adjust width as necessary */
        height: 250px; /* Maintain aspect ratio */
        margin-bottom: 10px; /* Space between the cover and the genre label */
    }
    
    .book-cover-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-align: center; /* Center text for the genre label and book title */
    }
    
    
    .genre-label {
        font-size: 14px; /* Adjust font size as necessary */
        color: #555; /* Dark grey color for better readability */
        margin-top: 5px; /* Space between the cover and the label */
        font-weight: bold; /* Makes the genre label stand out */
    }

      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ddd;
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 100;
      }
      
      .prev {
        left: 10px;
        
      }
      
      .next {
        right: 10px;
       
      }

  
      .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    